@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;1,100;1,300;1,500&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}


.weather{
    padding: 1rem 0.5rem;
    background-color: white;
    width: 30%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 6px 2px black ;

}
.searchBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.searchBox input{
    width: 70%;
    padding: 0.6rem 0.6rem;
    border: none;
    outline: none;
    border: 1px solid black;
    background-color: white;
    font-size: 1.1rem;
    border-radius: 5px;

}
.searchBox button{
    width: 25%;
    padding: 0.6rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: skyblue;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;

}
.searchBox button:hover{
    background-color: rgb(59, 132, 160);
}
.weather-img{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.weather-img img{
   width: 8rem;
   height: 8rem;
   
}
.weather-img p{
    font-size: 0.8rem;
    position: absolute;
    right: 32%;
   bottom: 19%;
}

.weather-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weather-info-1{

  padding: 1rem 0rem;

}
.weather-info-1 span{
    font-size: 2.5rem;
    font-weight: 500;
}

.weather-info-1 p{

 font-size: 1.5rem;

}
.weather-info-2 p{
  font-size: 1rem;
}

@media only screen and (max-width: 1200px) {
 .weather{
  width: 50%;
 }
  }

  @media only screen and (max-width: 600px) {
    .weather{
     width: 80%;
    }
     }